@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  background: linear-gradient(
    120deg,
    #fef2f2,
    #fbcfe8,
    #fef9c3,
    #fbcfe8,
    #fef2f2
  );
  background-size: 400% 400%;
  animation: gradientMove 30s ease-in-out infinite;
}
